body{
    background-color: #9076D8;
}
.nine {
  position:relative;
}
.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
  position: fixed;
  left: 140px;
  top: 50px;

}
.hole {
  width: 60px;
  height: 60px;
  background: #9076D8;
  border-radius: 50%;
  position: fixed;
  left: 170px;
  top: 80px;
 
}
.stem1{
  width: 29.9px;
  height: 120px;
  background: #fff;
  border-top-left-radius: 50%;
  border-top-right-radius: 47%;
  top:74px;
  left: 229.9px;
  position: fixed;
}
.arc {
  width: 60px;
  height: 70px;
  background: #9076D8;
  border: 31px solid white;
  border-left: 30px solid white;
  border-radius: 50%;
  clip-path: polygon(135% 50%, 2000% 100%, -1000% 100%);
  position: absolute;   
  left: 131.9px;          
  top: 115px;           
}
.square{ 
   width: 29px;
  height: 29px;
  background: #fff;
  top:170px;
  left:140.5px;
  position:fixed;
  
}